<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Рассылка №1</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body style="padding: 0; margin: 0;">

    <div style="display:none;max-height:0;max-width:0;opacity:0;overflow:hidden;color: #f6f6f6;"></div>

    <table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff"
        style="background: #ffffff;">
        <tr>
            <td valign="top">

                <table width="600" border="0" cellpadding="0" cellspacing="0" align="center"
                    style="margin-top: 90px; margin-bottom: 50px; border-radius: 10px;">

                    <tr>
                        <td width="600" height="100" valign="top">
                            <img src="/images/email/bg_light.png" width="600" height="100" border="0" alt=""
                                style="display: block;" />
                        </td>
                    </tr>

                    <tr>
                        <td width="600" valign="top">

                            <p
                                style="margin-top: 50px; margin-left: 30px; margin-right: 30px; margin-bottom: 0; font-weight: bold; font-size: 24px; line-height: 1.5; font-family: Arial; color: #2196F3;">
                                Здравствуйте, Виолетта!</p>

                            <p
                                style="margin-top: 20px; margin-left: 30px; margin-right: 30px; margin-bottom: 30px; font-weight: 400; font-size: 14px; line-height: 1.5; font-family: Arial; color: #192335;">
                                Вы зарегистрированы в МАМР. Пожалуйста, подтвердите свой эл. адрес, перейдя по ссылке:
                            </p>

                        </td>
                    </tr>

                    <tr>
                        <td width="600" valign="top" align="center" style="padding-bottom: 70px;">

                            <a href="https://inamr.ru/"
                                style="display:inline-block; padding: 11px 20px; border-radius: 20px; background: #FF9800; font-weight: 400; font-style: normal;font-size: 16px; line-height: 1.5; font-family: Arial; color: #ffffff; text-decoration: none;">Подтвердить
                                e-mail
                            </a>

                        </td>
                    </tr>

                    <tr>
                        <td width="600" valign="top">

                            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center"
                                style="padding-top: 40px; padding-bottom: 40px; background: #ffffff;" bgcolor="#ffffff">
                                <tr>
                                    <td width="600" valign="top">

                                        <p
                                            style="margin-top: 0; margin-left: 30px; margin-right: 30px; margin-bottom: 10px; font-weight: 400; font-size: 14px; line-height: 1.5; font-family: Arial; color: #192335;">
                                            Ваш логин: <a style="text-decoration: none;"><b
                                                    style="color: #2196F3;">violett@gmail.com</b></a>
                                        </p>

                                        <p
                                            style="margin-top: 0; margin-left: 30px; margin-right: 30px; margin-bottom: 10px; font-weight: 400; font-size: 14px; line-height: 1.5; font-family: Arial; color: #192335;">
                                            Ваш пароль: <a
                                                style="color: #192335; text-decoration: none;"><b>fG9!@1s7</b></a>
                                        </p>

                                        <p
                                            style="margin-top: 0; margin-left: 30px; margin-right: 30px; margin-bottom: 0; font-weight: 400; font-size: 14px; line-height: 1.5; font-family: Arial; color: #192335;">
                                            Вы можете войти в свой личный кабинет по адресу <a
                                                href="https://mamrkurs.ru/my"
                                                style="color: #2196F3; text-decoration: none;">https://mamrkurs.ru/my</a>,
                                            введя
                                            свой логин
                                            и пароль
                                        </p>

                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>

                    <tr>
                        <td width="600" valign="top">

                            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center"
                                style="padding-top: 0; padding-bottom: 0; background: #ffffff; border-radius: 0px 0px 10px 10px;"
                                bgcolor="#ffffff">

                                <tr>
                                    <td width="600" height="80" valign="top">
                                        <img src="/images/email/bg_blue1.png" width="600" height="80" border="0" alt=""
                                            style="display: block;" />
                                    </td>
                                </tr>

                                <tr>
                                    <td width="600" valign="top"
                                        style="border-radius: 0px 0px 10px 10px; background: #1565C0;">

                                        <p
                                            style="max-width: 365px; margin-top: 20px; margin-left: 30px; margin-right: 30px; margin-bottom: 20px; font-family: Arial; font-weight: 400; font-size: 14px; line-height: 1.5;  color: #ffffff;">
                                            Андрей Бурмистров, основатель и директор Международной Академии
                                            Медицинской
                                            Реабилитации
                                        </p>

                                        <p
                                            style="margin-top: 0; margin-left: 30px; margin-right: 30px; margin-bottom: 4px; font-weight: 400; font-size: 12px; line-height: 1.5; font-family: Arial; color: #ffffff;">
                                            <b>Тел. :</b> <a href="tel: 79300560483"
                                                style="color: #ffffff; text-decoration: none;">+7 930 056-04-83</a>
                                        </p>

                                        <p
                                            style="margin-top: 0; margin-left: 30px; margin-right: 30px; margin-bottom: 4px; font-weight: 400; font-size: 12px; line-height: 1.5; font-family: Arial; color: #ffffff;">
                                            <b>E-mail:</b> <a href="mailto:info@mamrkurs.ru"
                                                style="color: #ffffff; text-decoration: none;">info@mamrkurs.ru</a> 
                                        </p>

                                        <p
                                            style="margin-top: 0; margin-left: 30px; margin-right: 30px; margin-bottom: 4px; font-weight: 400; font-size: 12px; line-height: 1.5; font-family: Arial; color: #ffffff;">
                                            <a style="text-decoration: none; color: #ffffff">г. Москва, ул. Мироновская,
                                                25</a>
                                        </p>

                                        <p
                                            style="margin-top: 0; margin-left: 30px; margin-right: 30px; margin-bottom: 30px; font-weight: 400; font-size: 12px; line-height: 1.5; font-family: Arial; color: #ffffff;">
                                            <a href="https://inamr.ru"
                                                style="color: #ffffff; text-decoration: none;">https://inamr.ru</a>
                                        </p>

                                    </td>
                                </tr>

                            </table>

                        </td>
                    </tr>

                    <tr>
                        <td width="600" valign="top" align="center">

                            <p
                                style="margin-top: 20px; margin-bottom: 10px; font-weight: 400; font-size: 10px; line-height: 1.5; font-family: Arial; color: #999;">
                                Вы получили это письмо, потому что регистрировались в проекте «МАМР»
                            </p>

                            <p
                                style="margin-top: 0; margin-bottom: 0; font-weight: 400; font-size: 10px; line-height: 1.5; font-family: Arial; color: #999;">
                                Если вы не хотите получать письма от нас, вы можете <a href="https://inamr.ru/"
                                    style="color: #2F80ED; text-decoration: none;">отписаться</a>
                            </p>

                        </td>
                    </tr>

                </table>

            </td>
        </tr>
    </table>

</body>

</html>