<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Рассылка №5</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body style="padding: 0; margin: 0;">

    <div style="display:none;max-height:0;max-width:0;opacity:0;overflow:hidden;color: #f6f6f6;"></div>

    <table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff"
        style="background: #ffffff;">
        <tr>
            <td valign="top">

                <table width="600" border="0" cellpadding="0" cellspacing="0" align="center"
                    style="margin-top: 90px; margin-bottom: 50px; border-radius: 10px;">

                    <tr>
                        <td width="600" height="256" valign="top">
                            <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-radius: 10px">
                                <tr>
                                    <td width="600" height="200" valign="top">
                                        <img src="/images/email/bg_blue5.png" width="600" height="200" border="0" alt=""
                                            style="display: block;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td width="600" height="56" valign="center"
                                        style="background: #E3F2FF; border-radius: 0 0 10px 10px">
                                        <p
                                            style="margin-top: 0; margin-left: 30px; margin-right: 0; margin-bottom: 0; font-weight: 400; font-size: 20px; line-height: 1.5; font-family: Arial; color: #2196F3;">
                                            Вот записи вебинаров, которые вы могли пропустить!
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td width="600" valign="top"
                            style="padding-left: 30px; padding-right: 30px; padding-top: 50px; padding-bottom: 40px;">
                            <p
                                style="margin-bottom: 0px; margin-top: 0; font-weight: 400; font-size: 14px; line-height: 1.5; font-family: Arial; color: #192335;">
                                Виолетта, давно не заходили к нам в Дзен? Смотрите какие новые статьи то МАМР вы могли
                                пропустить:
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td width="600" valign="top" align="center"
                            style="padding-left: 30px; padding-right: 30px; padding-top: 40px; padding-bottom: 40px;">

                            <table width="540" border="0" cellpadding="0" cellspacing="0" align="center"
                                style="background: #ffffff; font-weight: 400; font-size: 14px; line-height: 1.5; font-family: Arial; color: #192335;"
                                bgcolor="#ffffff">

                                <tr>
                                    <td width="22" valign="top" style="color: #2196F3; font-weight: 700;">
                                        <span>1.</span>
                                    </td>

                                    <td width="522" valign="top">
                                        Как работает закон окружения и где найти людей, которые помогут реабилитологу
                                        реализовать профессиональный потенциал?
                                    </td>

                                </tr>

                                <tr>
                                    <td colspan="2" width="540" valign="top" align="center"
                                        style="padding-left: 30px; padding-right: 30px; padding-top: 20px; padding-bottom: 40px;">
                                        <a href=" https://inamr.ru/"
                                            style="display:inline-block; padding: 11px 20px; border-radius: 20px; background: #FF9800; font-weight: 400; font-style: normal;font-size: 16px; line-height: 1.5; font-family: Arial; color: #ffffff; text-decoration: none;">
                                            Читать о сообществе МАМР
                                        </a>
                                    </td>
                                </tr>

                                <tr>
                                    <td width="22" valign="top" style="color: #2196F3; font-weight: 700;">
                                        <span>2.</span>
                                    </td>

                                    <td width="522" valign="top">
                                        Как методика Кальтенборна помогает в лечении Халлюкс Вальгус?
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2" width="540" valign="top" align="center"
                                        style="padding-left: 30px; padding-right: 30px; padding-top: 20px; padding-bottom: 40px;">
                                        <a href=" https://inamr.ru/"
                                            style="display:inline-block; padding: 11px 20px; border-radius: 20px; background: #FF9800; font-weight: 400; font-style: normal;font-size: 16px; line-height: 1.5; font-family: Arial; color: #ffffff; text-decoration: none;">
                                            Узнать о причинах заболевания и реабилитации
                                        </a>
                                    </td>
                                </tr>

                                <tr>
                                    <td width="22" valign="top" style="color: #2196F3; font-weight: 700;">
                                        <span>3.</span>
                                    </td>

                                    <td width="522" valign="top">
                                        Можно ли через слои кожи воздействовать на ЦНС?
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2" width="540" valign="top" align="center"
                                        style="padding-left: 30px; padding-right: 30px; padding-top: 20px; padding-bottom: 40px;">
                                        <a href=" https://inamr.ru/"
                                            style="display:inline-block; padding: 11px 20px; border-radius: 20px; background: #FF9800; font-weight: 400; font-style: normal;font-size: 16px; line-height: 1.5; font-family: Arial; color: #ffffff; text-decoration: none;">
                                            Узнать про уникальную методику
                                        </a>
                                    </td>
                                </tr>

                                <tr>
                                    <td width="22" valign="top" style="color: #2196F3; font-weight: 700;">
                                        <span>4.</span>
                                    </td>

                                    <td width="522" valign="top">
                                        Как эксперты работают с плоскостопием, пяточной шпорой и халлюкс вальгус?
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2" width="540" valign="top" align="center"
                                        style="padding-left: 30px; padding-right: 30px; padding-top: 20px; padding-bottom: 40px;">
                                        <a href=" https://inamr.ru/"
                                            style="display:inline-block; padding: 11px 20px; border-radius: 20px; background: #FF9800; font-weight: 400; font-style: normal;font-size: 16px; line-height: 1.5; font-family: Arial; color: #ffffff; text-decoration: none;">
                                            Читать статью “З основных проблемы со стопой”
                                        </a>
                                    </td>
                                </tr>

                                <tr>
                                    <td width="22" valign="top" style="color: #2196F3; font-weight: 700;">
                                        <span>5.</span>
                                    </td>

                                    <td width="522" valign="top">
                                        ДЦП: 4 формы, симптоматика и лечение
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2" width="540" valign="top" align="center"
                                        style="padding-left: 30px; padding-right: 30px; padding-top: 20px; padding-bottom: 40px;">
                                        <a href=" https://inamr.ru/"
                                            style="display:inline-block; padding: 11px 20px; border-radius: 20px; background: #FF9800; font-weight: 400; font-style: normal;font-size: 16px; line-height: 1.5; font-family: Arial; color: #ffffff; text-decoration: none;">
                                            Читать статью о работе с ДЦП
                                        </a>
                                    </td>
                                </tr>
                            </table>

                            <p
                                style="margin-bottom: 0; margin-top: 0; font-style: normal; font-weight: 400; font-size: 14px; line-height: 1.5; font-family: Arial; color: #192335; text-align: left;">
                                Читайте ТОП-5 новых статей от экспертов академии и подписывайтесь на нас в Яндекс.Дзен,
                                чтобы не пропустить новые полезные материалы
                            </p>

                        </td>
                    </tr>

                    <tr>
                        <td width="600" valign="top"
                            style="padding-left: 30px; padding-right: 30px; padding-top: 50px; padding-bottom: 46px; background: #E3F2FF;">

                            <p
                                style="margin-bottom: 30px; margin-top: 0; font-style: normal; font-weight: 400; font-size: 14px; line-height: 1.5; font-family: Arial; color: #192335; text-align: left;">
                                P.S.: Анонсы предстоящих мероприятий мы публикуем в социальных сетях. Подписывайтесь,
                                чтобы ничего не пропустить!
                            </p>

                            <table width="540" border="0" cellpadding="0" cellspacing="0" align="center">
                                <tr>
                                    <td width="600" valign="center" style="text-align: center;">
                                        <a href="https://inamr.ru/"
                                            style="display: inline-block; border: 1px solid #2196F3; border-radius: 100%; width: 46px; height: 46px;  margin-right: 8px; margin-left: 8px;"
                                            width="46" height="46"><img src="/images/email/vk.png" width="24"
                                                height="24" alt="" style="padding-top: 11px; padding-bottom: 11px"></a>
                                        <a href="https://inamr.ru/"
                                            style="display: inline-block; border: 1px solid #2196F3; border-radius: 100%; width: 46px; height: 46px;  margin-right: 8px; margin-left: 8px;"
                                            width="46" height="46"><img src="/images/email/youtube.png" width="24"
                                                height="24" alt="" style="padding-top: 11px; padding-bottom: 11px"></a>
                                        <a href="https://inamr.ru/"
                                            style="display: inline-block; border: 1px solid #2196F3; border-radius: 100%; width: 46px; height: 46px;  margin-right: 8px; margin-left: 8px;"
                                            width="46" height="46"><img src="/images/email/yandex_zen.png" width="22"
                                                height="22" alt="" style="padding-top: 12px; padding-bottom: 12px"></a>
                                        <a href="https://inamr.ru/"
                                            style="display: inline-block; border: 1px solid #2196F3; border-radius: 100%; width: 46px; height: 46px;  margin-right: 8px; margin-left: 8px;"
                                            width="46" height="46"><img src="/images/email/telegram.png" width="24"
                                                height="24" alt="" style="padding-top: 11px; padding-bottom: 11px"></a>
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>

                    <tr>
                        <td width="600" valign="top">

                            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center"
                                style="padding-top: 0; padding-bottom: 0; background: #ffffff; border-radius: 0px 0px 10px 10px;"
                                bgcolor="#ffffff">

                                <tr>
                                    <td width="600" height="80" valign="top">
                                        <img src="/images/email/bg_blue1.png" width="600" height="80" border="0" alt=""
                                            style="display: block;" />
                                    </td>
                                </tr>

                                <tr>
                                    <td width="600" valign="top"
                                        style="border-radius: 0px 0px 10px 10px; background: #1565C0;">

                                        <p
                                            style="max-width: 365px; margin-top: 20px; margin-left: 30px; margin-right: 30px; margin-bottom: 20px; font-family: Arial; font-weight: 400; font-size: 14px; line-height: 1.5;  color: #ffffff;">
                                            Андрей Бурмистров, основатель и директор Международной Академии
                                            Медицинской
                                            Реабилитации
                                        </p>

                                        <p
                                            style="margin-top: 0; margin-left: 30px; margin-right: 30px; margin-bottom: 4px; font-weight: 400; font-size: 12px; line-height: 1.5; font-family: Arial; color: #ffffff;">
                                            <b>Тел. :</b> <a href="tel: 79300560483"
                                                style="color: #ffffff; text-decoration: none;">+7 930 056-04-83</a>
                                        </p>

                                        <p
                                            style="margin-top: 0; margin-left: 30px; margin-right: 30px; margin-bottom: 4px; font-weight: 400; font-size: 12px; line-height: 1.5; font-family: Arial; color: #ffffff;">
                                            <b>E-mail:</b> <a href="mailto:info@mamrkurs.ru"
                                                style="color: #ffffff; text-decoration: none;">info@mamrkurs.ru</a> 
                                        </p>

                                        <p
                                            style="margin-top: 0; margin-left: 30px; margin-right: 30px; margin-bottom: 4px; font-weight: 400; font-size: 12px; line-height: 1.5; font-family: Arial; color: #ffffff;">
                                            <a style="text-decoration: none; color: #ffffff">г. Москва, ул. Мироновская,
                                                25</a>
                                        </p>

                                        <p
                                            style="margin-top: 0; margin-left: 30px; margin-right: 30px; margin-bottom: 30px; font-weight: 400; font-size: 12px; line-height: 1.5; font-family: Arial; color: #ffffff;">
                                            <a href="https://inamr.ru"
                                                style="color: #ffffff; text-decoration: none;">https://inamr.ru</a>
                                        </p>

                                    </td>
                                </tr>

                            </table>

                        </td>
                    </tr>

                    <tr>
                        <td width="600" valign="top" align="center">

                            <p
                                style="margin-top: 20px; margin-bottom: 10px; font-weight: 400; font-size: 10px; line-height: 1.5; font-family: Arial; color: #999;">
                                Вы получили это письмо, потому что регистрировались в проекте «МАМР»
                            </p>

                            <p
                                style="margin-top: 0; margin-bottom: 0; font-weight: 400; font-size: 10px; line-height: 1.5; font-family: Arial; color: #999;">
                                Если вы не хотите получать письма от нас, вы можете <a href="https://inamr.ru/"
                                    style="color: #2F80ED; text-decoration: none;">отписаться</a>
                            </p>

                        </td>
                    </tr>

                </table>

            </td>
        </tr>
    </table>

</body>

</html>